{% extends 'base.html' %}

{% block meta %}
<title>Registrasi Akun</title>
{% endblock meta %}

{% block content %} 
<style>
  body{
    min-height: 100vh;
    background: #abd699;
  }
</style>

<div class="card mx-auto" style="width: 30rem;">
    <div class="card-body">
        <div class = "login">
    
            <h1>Formulir Registrasi</h1>  
        
                <form method="POST" >  
                    {% csrf_token %}  
                    <div class="flex flex-col gap-4">
                        {% for field in form %}
                            <div class="form-control w-full max-w-md">
                                {{ field.errors }}
                                {{ field.label_tag }}
                                {{ field }}
                                {% if field.help_text %}
                                  <div class="alert alert-light text-info-content my-2">
                                    <div class="flex flex-col">{{ field.help_text | safe }}</div>
                                  </div>
                                {% endif %}
                            </div>
                        {% endfor %}
                        <div class="text-center">
                            <button class="btn btn-primary">Daftar</button>
                        </div>
                      </div>
                </form>
        
            {% if messages %}  
                <ul>   
                    {% for message in messages %}  
                        <li>{{ message }}</li>  
                        {% endfor %}  
                </ul>   
            {% endif %}
        
        </div> 
    </div>
  </div> 

{% endblock content %}